.navItems {
    margin: 0 10px;
    list-style: none;
    float: right;
    color: #262626;
    padding-inline-start: 10px;
}

.navItems a {
    text-decoration: none;
}

.active li {
    color: #5A5A5A;
}

@media (min-width: 600px) {
    .navItems {
        margin: 0 20px;
    }
}