.intro {
    padding-top: 15px;
}

.intro h1 {
    font-family: 'Shadows Into Light';
    margin-block-start: 0;
}
.intro p {
    padding: 0 10px;
}

@media (min-width: 600px) {
    .intro p {
        padding: 0 40px;
        font-size: 1.1rem;
    }
}